* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #03346E;
}

body {
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

button {
    background-color: var(--mainColor);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

input {
    width: 900px;
    height: 30px;
    background-color: lightgrey;
    border-radius: 20px;
    border: 1px lightgray solid;
    padding: 5px;

}

input:focus{
    outline: none;
    border: 1px solid blue;
    box-shadow: 2px 2px 5px 1px rgb(205, 205, 214);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 100px 1fr 1fr;
    background-color: var(--mainColor);
    color: white;
    font-weight: 600;
    gap: 5px;
    padding: 20px;
}

.logo {
    grid-row: 1;
    padding: 5px;
}

.logo img {
    width: 150px;
    height: auto;
}

.sidebar-menu ul {
    grid-row: 2;
    display: grid;
    gap: 20px;
    list-style: none;
}

.sidebar-menu ul div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-size: 16px;
}

.sidebar-options ul {
    grid-row: 3;
    list-style: none;
    display: grid;
    gap: 20px;
}

.sidebar-options ul div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-size: 16px;
}



.header {
    grid-row: 1 ;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(250, 253, 255);
    box-shadow: 2px 2px whitesmoke;
}

.profile-pic {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.admin-notif {
    display: flex;
    height: 30px;
    gap: 30px;
    justify-content: end;
    align-items: center;
    padding-right: 80px;
    padding-top: 50px;
}

.searchbar{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 30px;
}

.searchbar img {
    width: 20px;
}

.admin {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-left: 50px;
    padding-bottom: 15px;
}

.admin:last-child p{
    font-size: 70px;
}

.name {
    font-size: 25px;
}


.admin-notif p {
    font-weight: 700;
}

.admin-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    padding-right: 20px;
}

.main-pic {
    width: 60px;
    border-radius: 50%;
}

.main-content {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    background-color: #E8E9EB;
}

.projects {
    display: grid;
    grid-template-rows: 50px 3fr;
    grid-row: span 2;
}

.project-head {
    grid-row: 1;
    display: flex;
    align-items: end;
    padding-bottom: 10px;
}
.project-cards {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
}

.cards {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 500px;
    border: 1px lightgray solid;
    padding: 30px 30px;
    border-left: 5px orange solid;
    border-radius: 10px;
    box-shadow: 3px 3px lightgray;
    background-color: white;
}

.title {
    font-weight: 700;
}

.cards .title + p {
    color: gray;
    font-size: 16px;
    font-weight: 500;
}

.card-icons{
    display: flex;
    justify-content: end;
    padding-top: 25px;
    gap: 10px;
}

.announcements {
    padding-right: 20px;
}

.announcement-content {
    border: 1px lightgray solid;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(205, 205, 214);
}

.announcement-head {
    padding-top: 20px;
    padding-bottom: 10px;
}

.announcement-title {
    font-weight: 600;
}

.announcement-content .announcement-title + p {
    font-size: 14px;
    color: gray;
}


.trending {
    grid-column: 2;
    padding-right: 20px;
    padding-top: 30px;
}

.trending-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.trending-content {
    height: 265px;
    border: 1px lightgray solid;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-shadow: 3px 3px rgb(205, 205, 214);
}

.trending-profile{
    display: flex;
    padding-top: 15px;
    gap: 15px;
}

.trending-profile img {
    width: 40px;
    border-radius: 50%;
}

img ~ div p:first-of-type {
    font-size: 14px;
}

img ~ div p:last-of-type {
    color: gray;
}