* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Nerko One", cursive;
    font-weight: 300;
    font-style: normal;
    background-color: #FFBE98;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 3rem;
}

h2 {
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}

p {
    text-align: center;
    font-size: 3rem;
}

dialog {
    position: fixed;
    top: 20%;
    left: 10%;
    width: 400px;
    margin-left: -100px;
    height: 300px;
    margin-top: -25px;
    background: rgb(240, 255, 238, .5);
    padding: 20px;
    color: #0F0F0F;
    font-weight: 100;
}

label {
    font-size: 20px;
}

input{
    width: 250px;
    height: 30px;
    padding: 5px;
}

dialog label + input {
    margin: 10px;
}


footer{
    font-size: 1.5rem;
}

.container {
    flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-btn {
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    background-color: #0B8494;
    color: white;
    font-family: "Nerko One", cursive;
    font-size: 1em;
    
}

#reset-btn {
    width: 100px;
    height: 30px;
    margin: 20px;
    border-radius: 20px;
    border: none;
    background-color: #0B8494;
    color: white;
    font-family: "Nerko One", cursive;
    font-size: 1em;
}

#confirm-btn {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #0B8494;
    color: white;
    font-family: "Nerko One", cursive;
    font-size: 1em;
}

.gameboard {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-row: 200px 200px 200px;
    gap: 1px;
}

.box{
    height: 200px;
    width: 200px;
    border: 5px #125B9A solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F05A7E;
    font-size: 10rem;
}